$header-font: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$body-font: 'Raleway', sans-serif;
$other-font:'Pacifico-Regular', cursive;
$primary-font: 'Raleway', sans-serif;

$xs:20px;
$sm:4%;
$md:8%;
$lg:10%;
$xlg:14%;
$xxl:20%;


$white:#fff;
$dark:#2d2929;

$main:#f8c4d0;
$main-light:#f9f6f1;
$main-dark:#5F0017;


// ligh tteal
$secondary:#f1353d;
// $secondary-light:#e4000d;
$secondary-dark:#c31e22;

$shadow:0 14px 28px rgba(0,0,0,0.15), 0 10px 10px rgba(0,0,0,0.16);
$text-shadow: 2px 2px 10px rgba(0,0,0,0.25);
$drop-shadow:drop-shadow( 3px 3px 8px rgba(0, 0, 0, .30));